@model IdentityItI.ViewModel.CourseCategory


     <!--? slider Area Start-->
        <section class="slider-area slider-area2">
            <div class="slider-active">
                <!-- Single Slider -->
                <div class="single-slider slider-height2">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-8 col-lg-11 col-md-12">
                                <div class="hero__caption hero__caption2">
                                    <h1 data-animation="bounceIn" data-delay="0.2s">Courses</h1>
                                    <!-- breadcrumb Start-->
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                            <li class="breadcrumb-item"><a href="#">Services</a></li> 
                                        </ol>
                                    </nav>
                                    <!-- breadcrumb End -->
                                </div>
                            </div>
                        </div>
                    </div>          
                </div>
            </div>
        </section>

<!-- Button trigger modal -->
<div class="text-center mt-4"> <!-- Center align the button and add some top margin -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
        Add Course
    </button>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Form inside modal -->
   
        
<form enctype="multipart/form-data" id="courseForm" asp-action="AddCourse">
    <div class="form-group">
        <label for="Name">Name</label>
        <input type="text"  name="course.Name"  class="form-control form-control-lg" id="Name" placeholder="Enter course name">
    </div>
    <div class="form-group">
        <label for="exampleInputDescription">Description</label>
        <input type="text" name="course.Description"  class="form-control form-control-lg" id="Description" placeholder="Enter course description">
    </div>
    <div class="form-group">
        <label for="exampleInputImage">Image</label>
        <input type="file" name="course.file"  class="form-control-file " id="Image">
    </div>
      <select class="form-control " id="Category" name="course.categoryId">
            <option value="">Select category</option>
             @foreach(var category in Model.categories){
             
                 <option value="@category.Id">@category.Name</option>
             }         
        </select>

         
  <button type="submit" class="btn btn-primary" >Submit</button>
</form>


      </div>
      <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" >Close</button>
   
</div>
    </div>
  </div>
</div>




<div class="container">
  <h2>Course Data</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Image</th>
        <th>Category</th>
      </tr>
    </thead>
    <tbody>

            @if (Model.Courses!=null)
            {


               @foreach (var course in Model.Courses)
                {


                    <tr>
                        <td>@course.Id</td>
                        <td>@course.Name</td>
                       <td>@course.Description</td>
                        <td><img src="@Url.Content(@course.Image)" alt="HTML" width="100"></td>
                       <td>@course.category.Name</td>
                        <td>
                           <button type="button" class="btn btn-primary btn-sm edit-btn" data-toggle="modal" data-target="#editModal" data-id="@course.Id" data-name="@course.Name" data-image="@Url.Content(@course.Image)" data-description="@course.Description" data-category="@course.category.Id">
  Edit
</button>
                         <button type="button" class="btn btn-danger btn-sm delete-btn" data-toggle="modal" data-target="#deleteModal" data-id="@course.Id" data-img="@Url.Content(@course.Image)" >
                                    Delete
                                </button>
                          <a href="/Lesson/AddLesson/@course.Id" class="btn btn-primary btn-sm">Add Lesson</a>

                        </td>
                    </tr>
              }
            }
           
    </tbody>
  </table>
</div>



<!-- Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalLabel">Edit Course</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="editForm" asp-action="Edit"   enctype="multipart/form-data">
          <input type="hidden" id="courseId" name="Id">
          <div class="form-group">
            <label for="courseName">Course Name</label>
            <input type="text" class="form-control" id="courseName" name="Name">
          </div>
          <div class="form-group">
            <label for="courseDescription">Course Description</label>
            <textarea class="form-control" id="courseDescription" name="Description"></textarea>
          </div>

          <div class="form-group">
            <label for="courseName">CourseImage</label>
            <img src="" id="courseImage" alt="HTML" width="100" />
           <input type="file" name="file"  class="form-control-file " id="img">
           <input type="hidden"  name="categoryId" id="categoryId" />
          </div>
          

                <button type="submit" class="btn btn-primary">Save changes</button>
          <!-- Add more form fields as needed -->
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
  
      </div>
    </div>
  </div>
</div>


<!-- DeleteModal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Edit Course</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="DeleteForm" asp-action="Delete"   enctype="multipart/form-data">
          <input type="hidden" id="deletecategoryId" name="id">
          <div class="alert  alert-danger">
            Do you want to delete this course
          </div>
         

          

                <button type="submit" class="btn btn-primary">Yes</button>
          <!-- Add more form fields as needed -->
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
  
      </div>
    </div>
  </div>
</div>





<script>


$(document).ready(function() {
  $('.edit-btn').click(function() {
    var courseId = $(this).data('id');
    var courseName = $(this).data('name');
    var courseDescription = $(this).data('description');
    var courseCategory = $(this).data('category');

    var courseImage=$(this).data('image');

    $('#courseId').val(courseId);
    $("#categoryId").val(courseCategory);
    $('#courseName').val(courseName);
    $('#courseDescription').val(courseDescription);
    $('#courseImage').attr('src',courseImage);
    
    console.log(courseImage);
    // Set other fields as needed
  });

     $('.delete-btn').click(function() {
    var categoryId = $(this).data('id');
    $('#deletecategoryId').val(categoryId);
      
   
    // Set other fields as needed
  });

});
    














</script>



